<% object_name = controller_name.singularize %>

<h1><%= t("views.#{object_name}.index") %></h1>

<ul>
  <% @questions.each do |question| %>
    <li><%= question.question %> : <%= question.description %></li>
    <%= link_to t("views.#{object_name}.edit"), edit_question_path(question) %>
    <%= link_to t("views.#{object_name}.destroy"),
                question,
                method: :delete, 
                data: { confirm: t("views.default.confirm") } %>
  <% end %>
</ul>