<% object_name = controller_name.singularize %>

<h1><%= t("views.#{object_name}.index") %></h1>

<div class='jumbotron pt-3 pb-1'>
  <h2 class='text-body mb-4'><%= t('views.default.search') %></h2>
    <%= search_form_for @q do |f| %>
      <div class='form-group row'>
        <%= f.label :question, class: 'col-sm-2 col-form-label' %>
        <div class='col-sm-10'>
          <%= f.search_field :question_cont, class: 'form-control' %>
        </div>
        <%= f.label :description, class: 'col-sm-2 col-form-label' %>
        <div class='col-sm-10'>
          <%= f.search_field :description_cont, class: 'form-control' %>
        </div>
      </div>
      <%= f.submit t('views.default.search'), class: 'btn btn-primary col-1' %>
    <% end %>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><%= Question.human_attribute_name :id %></th>
      <th scope="col"><%= Question.human_attribute_name :question %></th>
      <th scope="col"><%= Question.human_attribute_name :description %></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <th scope="row"><%= question.id %></th>
        <td><%= question.question %></td>
        <td><%= question.description %></td>
        <td>
          <%= link_to t("views.#{object_name}.edit"),
                      edit_question_path(question),
                      class: 'btn btn-outline-success' %>
        </td>
        <td>
          <%= link_to t("views.#{object_name}.destroy"),
                      question,
                      method: :delete, 
                      data: { confirm: t("views.default.confirm") },
                      class: 'btn btn-outline-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t("views.#{object_name}.new"),
            new_question_path,
            class: 'btn btn-primary btn-lg' %>
<%= link_to t('views.nav.home'), root_path, class: 'btn btn-secondary btn-lg' %>
