<h1>ユーザー新規登録</h1>
<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <%= f.label :userID %>
  <%= f.text_field :name, class: 'form-control' %>
  
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
  
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  
  <%= f.submit '新規登録', class: 'btn btn-primary' %>
<% end %>
