<h1><%= t('views.rank.ranking') %></h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><%= t('views.rank.rank') %></th>
      <th scope="col"><%= User.human_attribute_name :name %></th>
      <th scope="col"><%= User.human_attribute_name :highest_rate %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each.with_index(1) do |user, index| %>
      <tr>
        <th scope="row"><%= index %></th>
        <% if user == @current_user %>
          <td class='text-danger font-weight-bold'><%= user.name %></td>
          <td class='text-danger font-weight-bold'><%= user.highest_rate %>%</td>
        <% else %>
          <td><%= user.name %></td>
          <td><%= user.highest_rate %>%</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
