<header class='navbar navbar-fixed-top navbar-inverse'>
  <div class='container'>
    <%= link_to '単語帳アプリ', root_path %>
    <nav>
      <ul class='nav navbar-nav navbar-right'>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'ユーザー新規登録', new_user_path %></li>
        <li><%= link_to '単語帳', '#' %></li>
        <li><%= link_to 'ランキング', '#' %></li>
        <li><%= link_to '単語マスタ', '#' %></li>
        <li><%= link_to 'ログイン', '#' %></li>
        <li><%= link_to 'ログアウト', '#' %></li>
      </ul>
    </nav>
  </div>
</header>
