<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top mb-5">
  <%= link_to '単語帳アプリ', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'ユーザー新規登録', new_user_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to '単語帳', '#', class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'ランキング', '#', class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to '単語マスタ', '#', class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'ログイン', '#', class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'ログアウト', '#', class: "nav-link" %>
      </li>
    </ul>
  </div>
</nav>
